<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Week5</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path  %></li>
        <li><%= link_to 'Courses', pages_courses_path  %></li>
        <li><%= link_to 'Locations', pages_locations_path  %></li>
        <li><%= link_to 'About Us', pages_about_us_path  %></li>
        <li><%= link_to 'Contact Us', pages_contact_us_path  %></li>
      </ul>
    </div>
  </div>
</div>
